h1 {
    color: red;
    background-color: yellow;
}

#p-01 {
    background-color: azure;
}
#p-02 {
    background-color: darkgrey;
}
#p-03 {
    background-color: lightcyan;
}
#p-04 {
    background-color: tomato;
}