h1 {
    color: black;
    background-color: white;
}

#p-01 {
    background-color: rebeccapurple;
}
#p-02 {
    background-color: violet;
}
#p-03 {
    background-color: green;
}
#p-04 {
    background-color: red;
}