h1 {
    color: brown;
    background-color: yellow;
}

#p-01 {
    background-color: pink;
}
#p-02 {
    background-color: lightpink;
}
#p-03 {
    background-color: green;
}
#p-04 {
    background-color: red;
}