h1 {
    color: green;
    background-color: violet;
}

#p-01 {
    background-color: darkgoldenrod;
}
#p-02 {
    background-color: darkmagenta;
}
#p-03 {
    background-color: darkolivegreen;
}
#p-04 {
    background-color: red;
}