h1 {
    background-color: antiquewhite;
}

#p-01 {
    background-color: aquamarine;
}
#p-02 {
    background-color: azure;
}
#p-03 {
    background-color: blanchedalmond;
}
#p-04 {
    background-color: burlywood;
}