h1 {
    background-color: darkblue;
}

#p-01 {
    background-color: darkcyan;
}
#p-02 {
    background-color: darkgoldenrod;
}
#p-03 {
    background-color: darkmagenta;
}
#p-04 {
    background-color: darkolivegreen;
}