h1 {
    background-color: pink;
}

#p-01 {
    background-color: violet;
}
#p-02 {
    background-color: lightcoral;
}
#p-03 {
    background-color: lightpink;
}
#p-04 {
    background-color: lightsalmon;
}