h1 {
    background-color: green;
}

#p-01 {
    background-color: greenyellow;
}
#p-02 {
    background-color: darkgreen;
}
#p-03 {
    background-color: gainsboro;
}
#p-04 {
    background-color: darkolivegreen;
}